.options {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.optionsButton {
    width: 90px;
    padding: 10px;
    border: 1px solid #3238af;
    color:#090b3e;
    
}